<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4"> <%= t("landing.welcome").html_safe %></h1>
        <p class="lead">Mit My.PORTAL Conference erstellen Sie in nur 2 Minuten Ihren eigenen Konferenzraum.</p>
        <p class="lead">Falls Sie zu einer Konferenz eingeladen wurden, treten Sie der Konferenz über einen Einladungslink bei, den Sie vom Veranstalter erhalten.</p>
        <p class="lead">Nutzen Sie die volle Vielfalt unserer Webkonferenz-Lösung mit den folgenden Funktionen:</p>
        <p class="lead">
            <strong>Audio:</strong> Kommunizieren Sie live in hoher Audioqualität<br>
            <strong>Video:</strong> Treffen Sie sich virtuell in Ihrem eigenen Konferenzraum<br>
            <strong>Chat:</strong> Senden Sie öffentliche und private Nachrichten<br>
            <strong>Dokumente:</strong> Zeigen und besprechen Sie Dokumente<br>
            <strong>Whiteboard:</strong> Zeichnen Sie gemeinsam Skizzen, Diagramme und mehr<br>
            <strong>Screen Sharing:</strong> Teilen Sie Ihren Bildschirm mit anderen<br>
            <strong>Abstimmungen:</strong> Starten Sie jederzeit eine Befragung der Teilnehmer<br>
            <strong>Breakout-Räume:</strong> Eröffnen Sie Nebenräume zur Kollaboration in kleinen Gruppen
        </p>
      </div>
    </div>
  </div>
</div>
